EMAIL_SERVER_HOST="smtp.gmail.com"
EMAIL_SERVER_PORT="587"
EMAIL_SERVER_USER="your-email@gmail.com"
EMAIL_SERVER_PASSWORD="your-app-password"
EMAIL_FROM="your-email@gmail.com"

# Neon Database
DATABASE_URL="postgres://user:password@host/dbname?sslmode=require"

# NextAuth.js Credentials
GOOGLE_CLIENT_ID="YOUR_GOOGLE_CLIENT_ID"
GOOGLE_CLIENT_SECRET="YOUR_GOOGLE_CLIENT_SECRET"

# NextAuth.js Configuration
NEXTAUTH_URL="http://localhost:3000"
# Generate a strong secret using: openssl rand -base64 32
NEXTAUTH_SECRET="YOUR_STRONG_RANDOM_SECRET"

# Stripe Payment Integration

# Stripe Payment Integration
# Go to https://dashboard.stripe.com/developers
# Click "Add endpoint".
# Endpoint URL: Paste your ngrok URL and append /api/stripe/webhook (e.g., https://xxxx-xxxx.ngrok-free.app/api/stripe/webhook or ur domainn).
# Select events: Add these events:
# checkout.session.completed
# invoice.payment_succeeded
# customer.subscription.created
# customer.subscription.updated
# customer.subscription.deleted
# invoice.payment_failed
# Click "Add endpoint".
# Get the Secret:
# On the webhook details page you just created, find "Signing secret" and click "Reveal".
# Copy the secret (starts with whsec_...).
# Update Environment:
# Update STRIPE_WEBHOOK_SECRET with the new secret you just copied.


STRIPE_SECRET_KEY="sk_test_your_stripe_secret_key"
STRIPE_PUBLISHABLE_KEY="pk_test_your_stripe_publishable_key"
STRIPE_WEBHOOK_SECRET="whsec_your_stripe_webhook_secret"
NEXT_PUBLIC_STRIPE_PRICE_ID="price_your_stripe_price_id"

# AI STUFF - Groq
GROQ_API_KEY="your_groq_api_key"

# Cloudinary -
CLOUDINARY_CLOUD_NAME=''
CLOUDINARY_API_KEY=''
CLOUDINARY_API_SECRET=''

NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Twillo
TWILIO_ACCOUNT_SID=ACXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
TWILIO_AUTH_TOKEN=your_auth_token
TWILIO_PHONE_NUMBER="+14XXXXXX"
TWILIO_API_KEY=SKxxxxxxxxxxxxxxxxxxxx
TWILIO_API_SECRET=your_api_key_secret
TWILIO_TWIML_APP_SID=APxxxxxxxxxxxxxxxxxxxx

# Vapi:
VAPI_PRIVATE_API_KEY=sk_live_xxxx


# Resend
RESEND_API_KEY=re_XXXXXXXXXXXXXXXXXX
RESEND_FROM_EMAIL="Onboarding <onboarding@resend.dev>"

# Deepgram
DEEPGRAM_API_KEY=XXXXXXXXXXXXXXXXXXXXXXX